examples/dwd-pollen-basic.json
[
  {
    "id": "pollenex1",
    "type": "tab",
    "label": "DWD Pollen - Basic Example"
  },
  {
    "id": "inj1",
    "type": "inject",
    "z": "pollenex1",
    "name": "Trigger pollen fetch",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 120,
    "wires": [
      [
        "pollen1"
      ]
    ]
  },
  {
    "id": "pollen1",
    "type": "dwd-pollen",
    "z": "pollenex1",
    "name": "",
    "autoRefresh": "0",
    "fetchOnDeploy": true,
    "diag": false,
    "x": 390,
    "y": 120,
    "wires": [
      [
        "dbg1"
      ]
    ]
  },
  {
    "id": "dbg1",
    "type": "debug",
    "z": "pollenex1",
    "name": "Pollen result",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 620,
    "y": 120,
    "wires": []
  },
  {
    "id": "com1",
    "type": "comment",
    "z": "pollenex1",
    "name": "DWD Pollen - Basic Example",
    "info": "Demonstrates basic usage of the DWD Pollen node:\n\n- Fetch on deploy\n- Manual trigger via Inject node\n- Output shown via Debug node\n\nCompatible with dashboards and scorecards.",
    "x": 310,
    "y": 60,
    "wires": []
  }
]